Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [127]:
import pandas as pd

In [128]:
orders=pd.read_csv("orders.csv")

In [129]:
orders.describe

<bound method NDFrame.describe of        order_date  pages_visited         order_id customer_id  \
0      2016/09/04              9  HTS-038040-0002      038040
1      2014/11/14             11  HTS-801797-0001      801797
2      2017/02/26             10  HTS-vft1eu-0003      vft1eu
3      2013/12/01             10  HTS-914324-0001      914324
4      2015/10/22             12  HTS-88ua9r-0001      88ua9r
...           ...            ...              ...         ...
26547  2016/11/19             13  HTS-n641x4-0001      n641x4
26548  2016/08/02              4  HTS-q0nm12-0001      q0nm12
26549  2017/03/09              6  HTS-sby0iz-0001      sby0iz
26550  2016/10/04             11  HTS-uz70x4-0001      uz70x4
26551  2016/12/16              9  HTS-xnbc22-0001      xnbc22

       tshirt_category  tshirt_price  tshirt_quantity
0      White T-Shirt M          20.0                1
1      White T-Shirt M          20.0                1
2      White T-Shirt F          18.0                3
3          Wh Tshirt F          18.0                1
4      White T-Shirt M          20.0                1
...                ...           ...              ...
26547  White T-Shirt M          20.0                1
26548  White T-Shirt M          20.0                1
26549  White T-Shirt M          20.0                1
26550           Hoodie          23.0                5
26551  Black T-Shirt M          19.0                3

[26552 rows x 7 columns]>

In [130]:
orders.head

<bound method NDFrame.head of        order_date  pages_visited         order_id customer_id  \
0      2016/09/04              9  HTS-038040-0002      038040
1      2014/11/14             11  HTS-801797-0001      801797
2      2017/02/26             10  HTS-vft1eu-0003      vft1eu
3      2013/12/01             10  HTS-914324-0001      914324
4      2015/10/22             12  HTS-88ua9r-0001      88ua9r
...           ...            ...              ...         ...
26547  2016/11/19             13  HTS-n641x4-0001      n641x4
26548  2016/08/02              4  HTS-q0nm12-0001      q0nm12
26549  2017/03/09              6  HTS-sby0iz-0001      sby0iz
26550  2016/10/04             11  HTS-uz70x4-0001      uz70x4
26551  2016/12/16              9  HTS-xnbc22-0001      xnbc22

       tshirt_category  tshirt_price  tshirt_quantity
0      White T-Shirt M          20.0                1
1      White T-Shirt M          20.0                1
2      White T-Shirt F          18.0                3
3          Wh Tshirt F          18.0                1
4      White T-Shirt M          20.0                1
...                ...           ...              ...
26547  White T-Shirt M          20.0                1
26548  White T-Shirt M          20.0                1
26549  White T-Shirt M          20.0                1
26550           Hoodie          23.0                5
26551  Black T-Shirt M          19.0                3

[26552 rows x 7 columns]>

In [131]:
orders.info

<bound method DataFrame.info of        order_date  pages_visited         order_id customer_id  \
0      2016/09/04              9  HTS-038040-0002      038040
1      2014/11/14             11  HTS-801797-0001      801797
2      2017/02/26             10  HTS-vft1eu-0003      vft1eu
3      2013/12/01             10  HTS-914324-0001      914324
4      2015/10/22             12  HTS-88ua9r-0001      88ua9r
...           ...            ...              ...         ...
26547  2016/11/19             13  HTS-n641x4-0001      n641x4
26548  2016/08/02              4  HTS-q0nm12-0001      q0nm12
26549  2017/03/09              6  HTS-sby0iz-0001      sby0iz
26550  2016/10/04             11  HTS-uz70x4-0001      uz70x4
26551  2016/12/16              9  HTS-xnbc22-0001      xnbc22

       tshirt_category  tshirt_price  tshirt_quantity
0      White T-Shirt M          20.0                1
1      White T-Shirt M          20.0                1
2      White T-Shirt F          18.0                3
3          Wh Tshirt F          18.0                1
4      White T-Shirt M          20.0                1
...                ...           ...              ...
26547  White T-Shirt M          20.0                1
26548  White T-Shirt M          20.0                1
26549  White T-Shirt M          20.0                1
26550           Hoodie          23.0                5
26551  Black T-Shirt M          19.0                3

[26552 rows x 7 columns]>

In [132]:
orders.shape

(26552, 7)

In [133]:
orders.isna().any()

order_date         False
pages_visited      False
order_id           False
customer_id        False
tshirt_category    False
tshirt_price       False
tshirt_quantity    False
dtype: bool

Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;

In [134]:
orders['order_date'] = pd.to_datetime(orders['order_date'])

In [135]:
orders['order_date']

0       2016-09-04
1       2014-11-14
2       2017-02-26
3       2013-12-01
4       2015-10-22
           ...
26547   2016-11-19
26548   2016-08-02
26549   2017-03-09
26550   2016-10-04
26551   2016-12-16
Name: order_date, Length: 26552, dtype: datetime64[ns]

Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;

In [136]:
orders['tshirt_category'].unique()

array(['White T-Shirt M', 'White T-Shirt F', 'Wh Tshirt F',
       'Black T-Shirt F', 'Hoodie', 'Black T-Shirt M', 'Tennis Shirt',
       'Wh Tshirt M', 'Bl Tshirt F', 'Bl Tshirt M'], dtype=object)

Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;

In [137]:
orders['tshirt_category'] = orders['tshirt_category'].apply(lambda x: x.replace("White", "Wh"))
orders['tshirt_category'] = orders['tshirt_category'].apply(lambda x: x.replace("Tshirt", "T-Shirt"))
orders['tshirt_category'] = orders['tshirt_category'].apply(lambda x: x.replace("T-shirt", "T-Shirt"))
orders['tshirt_category'] = orders['tshirt_category'].apply(lambda x: x.replace("Black", "Bl"))
orders['tshirt_category'] = orders['tshirt_category'].apply(lambda x: x.replace("Tennis Shirt", "Tennis_Shirt"))

In [138]:
orders['tshirt_category'].unique()

array(['Wh T-Shirt M', 'Wh T-Shirt F', 'Bl T-Shirt F', 'Hoodie',
       'Bl T-Shirt M', 'Tennis_Shirt'], dtype=object)

Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.

In [139]:
orders.isna().any()

order_date         False
pages_visited      False
order_id           False
customer_id        False
tshirt_category    False
tshirt_price       False
tshirt_quantity    False
dtype: bool

In [140]:
orders['tshirt_category'].unique()

array(['Wh T-Shirt M', 'Wh T-Shirt F', 'Bl T-Shirt F', 'Hoodie',
       'Bl T-Shirt M', 'Tennis_Shirt'], dtype=object)

In [141]:
orders['tshirt_category'] = orders['tshirt_category'].apply(lambda x: x if (x in ['Hoodie', 'Tennis_Shirt']) else f'{x.split(" ")[1]} {x.split(" ")[0]} {x.split(" ")[2]}')

In [142]:
orders[['tshirt_type', 'tshirt_colour', 'tshirt_size']] = orders['tshirt_category'].str.split(expand=True)

In [143]:
orders.head

<bound method NDFrame.head of       order_date  pages_visited         order_id customer_id tshirt_category  \
0     2016-09-04              9  HTS-038040-0002      038040    T-Shirt Wh M
1     2014-11-14             11  HTS-801797-0001      801797    T-Shirt Wh M
2     2017-02-26             10  HTS-vft1eu-0003      vft1eu    T-Shirt Wh F
3     2013-12-01             10  HTS-914324-0001      914324    T-Shirt Wh F
4     2015-10-22             12  HTS-88ua9r-0001      88ua9r    T-Shirt Wh M
...          ...            ...              ...         ...             ...
26547 2016-11-19             13  HTS-n641x4-0001      n641x4    T-Shirt Wh M
26548 2016-08-02              4  HTS-q0nm12-0001      q0nm12    T-Shirt Wh M
26549 2017-03-09              6  HTS-sby0iz-0001      sby0iz    T-Shirt Wh M
26550 2016-10-04             11  HTS-uz70x4-0001      uz70x4          Hoodie
26551 2016-12-16              9  HTS-xnbc22-0001      xnbc22    T-Shirt Bl M

       tshirt_price  tshirt_quantity tshirt_type tshirt_colour tshirt_size
0              20.0                1     T-Shirt            Wh           M
1              20.0                1     T-Shirt            Wh           M
2              18.0                3     T-Shirt            Wh           F
3              18.0                1     T-Shirt            Wh           F
4              20.0                1     T-Shirt            Wh           M
...             ...              ...         ...           ...         ...
26547          20.0                1     T-Shirt            Wh           M
26548          20.0                1     T-Shirt            Wh           M
26549          20.0                1     T-Shirt            Wh           M
26550          23.0                5      Hoodie          None        None
26551          19.0                3     T-Shirt            Bl           M

[26552 rows x 10 columns]>

Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [144]:
orders[(orders['order_date'] > '2014-12-31') & (orders['order_date'] < '2016-02-08')]

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_colour,tshirt_size
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,T-Shirt Wh M,20.0,1,T-Shirt,Wh,M
5,2016-01-15,9,HTS-061311-0003,061311,T-Shirt Bl F,17.5,4,T-Shirt,Bl,F
12,2015-11-24,15,HTS-je57lh-0001,je57lh,Hoodie,23.0,3,Hoodie,None,None
13,2015-10-10,8,HTS-252675-0002,252675,T-Shirt Wh M,20.0,3,T-Shirt,Wh,M
15,2015-11-29,15,HTS-heb26i-0001,heb26i,T-Shirt Bl F,17.5,1,T-Shirt,Bl,F
...,...,...,...,...,...,...,...,...,...,...
26405,2015-11-24,16,HTS-021969-0001,021969,T-Shirt Bl F,17.5,1,T-Shirt,Bl,F
26407,2015-07-31,9,HTS-730057-0004,730057,T-Shirt Bl F,17.5,4,T-Shirt,Bl,F
26409,2015-08-28,11,HTS-962212-0003,962212,T-Shirt Wh M,20.0,2,T-Shirt,Wh,M
26423,2015-01-22,11,HTS-961075-0001,961075,T-Shirt Bl M,19.0,3,T-Shirt,Bl,M
26432,2015-10-17,7,HTS-059163-0003,059163,Tennis_Shirt,24.0,1,Tennis_Shirt,None,None

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [145]:
customers=pd.read_csv("customers.csv")

Wypisz kolumny;

In [146]:
column_names = list(customers)
column_names

['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address', 'campaign']

Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;

In [147]:
orders.shape

(26552, 10)

In [148]:
customers.shape

(18766, 6)

Zmień nazwę kolumny customerID na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;

In [149]:
customers.head

<bound method NDFrame.head of       customerID gender   birthdate  \
0         886900      M   1953/10/5
1         038040      F  1946/12/21
2         698696      F   1983/12/1
3         sn9keh      M   1990/9/23
4         496907      M    1869/6/8
...          ...    ...         ...
18761     m1yyx6      M   1999/8/19
18762     744375      F  1941/10/22
18763     t6pxeo      F   1950/5/10
18764     930049      F  1979/10/22
18765     950728      M   1997/9/18

                                              user_agent       ip_address  \
0      Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...     69.8.136.110
1      Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...    67.74.254.174
2      Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...    95.135.70.206
3      Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...    129.50.205.26
4      Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...     81.98.234.29
...                                                  ...              ...
18761  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...     95.142.4.155
18762  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...  119.219.176.225
18763  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   196.178.254.85
18764  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...   118.173.208.45
18765  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...   171.178.68.155

       campaign
0         False
1         False
2         False
3         False
4         False
...         ...
18761      True
18762     False
18763     False
18764     False
18765     False

[18766 rows x 6 columns]>

In [150]:
customers.rename(columns = {'customerID':'customer_id'}, inplace = True)

In [151]:
customers.head

<bound method NDFrame.head of       customer_id gender   birthdate  \
0          886900      M   1953/10/5
1          038040      F  1946/12/21
2          698696      F   1983/12/1
3          sn9keh      M   1990/9/23
4          496907      M    1869/6/8
...           ...    ...         ...
18761      m1yyx6      M   1999/8/19
18762      744375      F  1941/10/22
18763      t6pxeo      F   1950/5/10
18764      930049      F  1979/10/22
18765      950728      M   1997/9/18

                                              user_agent       ip_address  \
0      Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...     69.8.136.110
1      Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...    67.74.254.174
2      Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...    95.135.70.206
3      Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...    129.50.205.26
4      Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...     81.98.234.29
...                                                  ...              ...
18761  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...     95.142.4.155
18762  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...  119.219.176.225
18763  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...   196.178.254.85
18764  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...   118.173.208.45
18765  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...   171.178.68.155

       campaign
0         False
1         False
2         False
3         False
4         False
...         ...
18761      True
18762     False
18763     False
18764     False
18765     False

[18766 rows x 6 columns]>

Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [152]:
'''
Wykorzystałem funkcję merge z parametrem on="customer_id". Parametr ten jest wskaźnikiem, po którym obie ramki mają się dopasować.
'''
merged = pd.merge(orders, customers, on="customer_id")

In [153]:
merged

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_colour,tshirt_size,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,T-Shirt Wh M,20.0,1,T-Shirt,Wh,M,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-06-04,13,HTS-038040-0001,038040,T-Shirt Wh F,18.0,1,T-Shirt,Wh,F,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014-11-14,11,HTS-801797-0001,801797,T-Shirt Wh M,20.0,1,T-Shirt,Wh,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015-10-22,12,HTS-801797-0002,801797,T-Shirt Wh M,20.0,2,T-Shirt,Wh,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017-02-26,10,HTS-vft1eu-0003,vft1eu,T-Shirt Wh F,18.0,3,T-Shirt,Wh,F,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25877,2016-11-02,11,HTS-762534-0001,762534,Hoodie,23.0,1,Hoodie,None,None,M,1963/8/24,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,58.3.164.178,True
25878,2016-11-16,4,HTS-hrpv38-0001,hrpv38,T-Shirt Wh M,20.0,3,T-Shirt,Wh,M,F,1951/8/15,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,118.210.235.250,True
25879,2014-07-12,16,HTS-978569-0001,978569,Hoodie,23.0,1,Hoodie,None,None,M,1986/11/19,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,112.172.97.50,False
25880,2016-08-05,11,HTS-k0batl-0001,k0batl,T-Shirt Wh M,20.0,2,T-Shirt,Wh,M,M,1959/2/6,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,174.226.65.20,False
25881,2017-03-13,11,HTS-200121-0001,200121,Tennis_Shirt,24.0,1,Tennis_Shirt,None,None,F,1969/8/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,56.182.53.24,False

In [154]:
merged.head

<bound method NDFrame.head of       order_date  pages_visited         order_id customer_id tshirt_category  \
0     2016-09-04              9  HTS-038040-0002      038040    T-Shirt Wh M
1     2014-06-04             13  HTS-038040-0001      038040    T-Shirt Wh F
2     2014-11-14             11  HTS-801797-0001      801797    T-Shirt Wh M
3     2015-10-22             12  HTS-801797-0002      801797    T-Shirt Wh M
4     2017-02-26             10  HTS-vft1eu-0003      vft1eu    T-Shirt Wh F
...          ...            ...              ...         ...             ...
25877 2016-11-02             11  HTS-762534-0001      762534          Hoodie
25878 2016-11-16              4  HTS-hrpv38-0001      hrpv38    T-Shirt Wh M
25879 2014-07-12             16  HTS-978569-0001      978569          Hoodie
25880 2016-08-05             11  HTS-k0batl-0001      k0batl    T-Shirt Wh M
25881 2017-03-13             11  HTS-200121-0001      200121    Tennis_Shirt

       tshirt_price  tshirt_quantity   tshirt_type tshirt_colour tshirt_size  \
0              20.0                1       T-Shirt            Wh           M
1              18.0                1       T-Shirt            Wh           F
2              20.0                1       T-Shirt            Wh           M
3              20.0                2       T-Shirt            Wh           M
4              18.0                3       T-Shirt            Wh           F
...             ...              ...           ...           ...         ...
25877          23.0                1        Hoodie          None        None
25878          20.0                3       T-Shirt            Wh           M
25879          23.0                1        Hoodie          None        None
25880          20.0                2       T-Shirt            Wh           M
25881          24.0                1  Tennis_Shirt          None        None

      gender   birthdate                                         user_agent  \
0          F  1946/12/21  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
1          F  1946/12/21  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
2          M   1956/7/19  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3          M   1956/7/19  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
4          F   1969/6/27  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...
...      ...         ...                                                ...
25877      M   1963/8/24  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
25878      F   1951/8/15  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
25879      M  1986/11/19  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
25880      M    1959/2/6  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...
25881      F   1969/8/22  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...

            ip_address  campaign
0        67.74.254.174     False
1        67.74.254.174     False
2      137.155.219.158     False
3      137.155.219.158     False
4         53.115.6.106      True
...                ...       ...
25877     58.3.164.178      True
25878  118.210.235.250      True
25879    112.172.97.50     False
25880    174.226.65.20     False
25881     56.182.53.24     False

[25882 rows x 15 columns]>

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [155]:
merged.to_csv("merged.csv",index=False)

In [156]:
test=pd.read_csv("merged.csv")

In [157]:
test.head

<bound method NDFrame.head of        order_date  pages_visited         order_id customer_id tshirt_category  \
0      2016-09-04              9  HTS-038040-0002      038040    T-Shirt Wh M
1      2014-06-04             13  HTS-038040-0001      038040    T-Shirt Wh F
2      2014-11-14             11  HTS-801797-0001      801797    T-Shirt Wh M
3      2015-10-22             12  HTS-801797-0002      801797    T-Shirt Wh M
4      2017-02-26             10  HTS-vft1eu-0003      vft1eu    T-Shirt Wh F
...           ...            ...              ...         ...             ...
25877  2016-11-02             11  HTS-762534-0001      762534          Hoodie
25878  2016-11-16              4  HTS-hrpv38-0001      hrpv38    T-Shirt Wh M
25879  2014-07-12             16  HTS-978569-0001      978569          Hoodie
25880  2016-08-05             11  HTS-k0batl-0001      k0batl    T-Shirt Wh M
25881  2017-03-13             11  HTS-200121-0001      200121    Tennis_Shirt

       tshirt_price  tshirt_quantity   tshirt_type tshirt_colour tshirt_size  \
0              20.0                1       T-Shirt            Wh           M
1              18.0                1       T-Shirt            Wh           F
2              20.0                1       T-Shirt            Wh           M
3              20.0                2       T-Shirt            Wh           M
4              18.0                3       T-Shirt            Wh           F
...             ...              ...           ...           ...         ...
25877          23.0                1        Hoodie           NaN         NaN
25878          20.0                3       T-Shirt            Wh           M
25879          23.0                1        Hoodie           NaN         NaN
25880          20.0                2       T-Shirt            Wh           M
25881          24.0                1  Tennis_Shirt           NaN         NaN

      gender   birthdate                                         user_agent  \
0          F  1946/12/21  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
1          F  1946/12/21  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
2          M   1956/7/19  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3          M   1956/7/19  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
4          F   1969/6/27  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...
...      ...         ...                                                ...
25877      M   1963/8/24  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
25878      F   1951/8/15  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
25879      M  1986/11/19  Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...
25880      M    1959/2/6  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...
25881      F   1969/8/22  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...

            ip_address  campaign
0        67.74.254.174     False
1        67.74.254.174     False
2      137.155.219.158     False
3      137.155.219.158     False
4         53.115.6.106      True
...                ...       ...
25877     58.3.164.178      True
25878  118.210.235.250      True
25879    112.172.97.50     False
25880    174.226.65.20     False
25881     56.182.53.24     False

[25882 rows x 15 columns]>